* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
}

html,
body {
  scroll-behavior: smooth;
  cursor: url("../images/cursor.png"), auto;
  height: 100%;
}

input:hover,
button:hover,
a:hover,
textarea:hover,
ul:hover,
li:hover,
.profile-img:hover,
.card:hover,
select:hover,
.profile-links li:hover,
.dropdown-menu a:hover,
.dropdown-menu button:hover {
  cursor: url("../images/cursor-pointer.png"), pointer;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.active {
  color: #e4c9fa;
  font-weight: bold;
}
.tooltip-container {
  position: relative;
  display: inline-block;
  margin: 1px;
}

.tooltip-container .tooltip-text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

/* Show tooltip on hover */
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Arrow */
.tooltip-container .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  transform: translateX(-50%);
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
